.answers {
    height: 20%;
    font-size: 1.4rem;
    font-weight: 500;
}
.question {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.container {
    margin-top: 5%;
    background: url('../../../assets/background.jpg');
    width: 100vw;
    height: 100vh;
}

#btn {
    margin-top: 5vh;
}