.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/background.jpg');
    color: #000;
    font-size: 3rem;
    flex-direction: column;
}
.a {
    height: 0;
    width: 80vw;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.button {
    margin: 0 auto;
    display: block;
    margin-top: 5vh;
    width: 50vw;
    aspect-ratio: 16/4;
    background: #fff;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    transition: transform 0.7s;
}

.button:hover {
    transform: translateY(-2vh);
    box-shadow: 5px 5px 5px #fff;
}

.containerForm {
    width: 50%;
    margin-bottom: 2vh;
}
