.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(pink, white);
    color: #ecabdc;
    font-size: 3rem;
    flex-direction: column;
}