.container {
    background: url('../../assets/background.jpg');
    color: #000;
    font-size: 1rem;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 5vw;
    gap: 5%;
}