.container {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/background.jpg');
    color: #fff;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    padding: 4rem;
    font-size: 5rem;
}
.a {
    color: #fff;
    padding: 3rem;
    font-size: 2rem;
}